body{
    background-color: #E5B2FF;
    font-family: sans-serif;
}

.main{
    height: 550px;
    width: 350px;
    background-color: #FCF7FF;
    margin: 0 auto;
    margin-top: 175px;
    border-radius: 15px;
}

.cont1{
    font-size: 30px;
    padding-top: 60px;
    padding-right: 32px;
    text-align: end;
}

.cont2{
    font-size: 50px;
    text-align: end;
    padding-top: 10px;
    padding-right: 32px;
}

.cont3{
    padding-top: 10px;
    padding-left: 29px;
}

.action, .operator, .number{
    height: 60px;
    width: 60px;
    margin: 6px;
    border-radius: 50%;
    font-size: 30px;
    border: none;
    color: #CB66FF;
}

#equal{
    height: 60px;
    width: 120px;
    border-radius: 30px 30px 30px 30px;
    margin-top: 5px;
    margin-left: 15px;
}

.operator, .action{
    background-color: #CB66FF;
    color: white;
}